<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 
  	<servlet>
        <servlet-name>Survey</servlet-name>
        <servlet-class>myhibernate.web.SurServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByGenre</servlet-name>
        <servlet-class>myhibernate.web.SearchByGenre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchByName</servlet-name>
        <servlet-class>myhibernate.web.SearchByName</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>Survey</servlet-name>
        <url-pattern>/Survey.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByName</servlet-name>
        <url-pattern>/SearchByName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchByGenre</servlet-name>
        <url-pattern>/SearchByGenre</url-pattern>
    </servlet-mapping>
    
</web-app>